html {
    background-color: black;
}

h1 {
    color: cornsilk;
}

.flex-text {
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.content-wrap {
    color: cornsilk;
}

section {
    padding: 2.5%;
}

img {
    width: 200px;
    height: 200px;
}

p {
    width: 1000px;
}
