html {
    background-color: black;
}

h1 {
    color: cornsilk;
}

.flex-text {
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.content-wrap {
    color: cornsilk;
}

section {
    padding: 2.5%;
    background-color: gray;
}

img {
    width: 200px;
    height: 200px;
}

p {
    width: 1000px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
    margin-top: auto;
}

.footer {
    background-color: white;
    color: black;
    padding: 2.5%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-nav a:hover {
    background-color: gray;
}
