html {
    background-image: url(../images/educationBackground.jpg);
    background-color: darkblue;
    background-size: cover;
}

h1 {
    color: white;
}

img {
    width: 200px;
    height: 200px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

section {
    background-color: darkblue;
    color: white;
    padding: 2.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
    margin-top: auto;
}

.footer {
    background-color: white;
    color: black;
    padding: 2.5%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-nav a:hover {
    background-color: gray;
}