html {
    background-color: #888C88;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
  background-color: #5E615E;
  padding: 1%;
}

footer {
    margin-top: auto;
}

.footer {
    background-color: white;
    color: black;
    padding: 2.5%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-nav a:hover {
    background-color: gray;
}
