html {
  background-image: url("../images/contactsBackground.png");
  background-size: cover;
  background-color: darkolivegreen;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
    margin-top: auto;
}

.footer {
    background-color: white;
    color: black;
    padding: 2.5%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-nav a:hover {
    background-color: gray;
}
